.c-transaction {
  align-items: center;
  /* justify-content: space-between; */
}

.c-transaction-c-contact--avatar {
  margin-right: 8px;
  min-width: 64px;
}

.c-transaction--details {
  margin-left: auto;
  text-align: right;
}

.c-transaction--name {
  margin-right: 5px;
}